.friends-list {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px;
}
.avatar-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.status-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  margin-right: 10px;
}
